{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"]
      }
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },
  "plugins": [
    ["typecheck", {
      "disable": {
        "production": true
      }
    }]
  ]
}
