@font-face {
  font-family: "Aspira";
  src: url("Aspira-Regular.eot") format("embedded-opentype");
  src: url("Aspira-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
