@import "configs/color";

/* Example handler
 ---------------------- */
.example__output {
  margin-top:36px;
  background-color: $light-teal;
  color: brown;
  font-size: 0.8em;
}

h2 {
  font-family: YourFavoriteFont;
}
